@import url(https://fonts.googleapis.com/css?family=Raleway);

html {
    font-size: 1em;
    line-height: 1.4;
}

canvas {
  display: block;
}

main {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

section {
  margin-top: 80px;
  margin-left: 15%;
  margin-right: 15%;

  padding: 10px;

  text-align: center;
  font-family: 'Raleway', serif;
}

h1 {
  font-size: 3em;
}

h1, a:link, a:visited, a:active {
    color: hsl(0, 0%, 20%);
}

a:hover {
    color: hsl(0, 0%, 27%);
}

a {
  transition: color ease 0.2s;
  text-decoration: none;
}
